.progress {
  border: 0;
  background-image: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progress > .progress-bar-default {
  background-color: #c6c6c6;
}
.progress-striped .progress > .progress-bar-default {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-success {
  background-color: #45b6af;
}
.progress-striped .progress > .progress-bar-success {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-info {
  background-color: #89c4f4;
}
.progress-striped .progress > .progress-bar-info {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-danger {
  background-color: #f3565d;
}
.progress-striped .progress > .progress-bar-danger {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-warning {
  background-color: #dfba49;
}
.progress-striped .progress > .progress-bar-warning {
  background-image: none;
  background-image: none;
}

